<header>
  <h2 class="bg-primary mb-2 p-2 text-center">Reactive Form </h2>
</header>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <form [formGroup]="signUpForm" (ngSubmit)="onSignUp()">
        <div class="form-group">
          <label for="userName"><b>Username : </b></label>
          <input type="text" class="form-control" id="userName" formControlName="userName">
          <span 
          *ngIf="f['userName'].touched && f['userName'].hasError('required')"
          class="text-danger">
            UserName is required Field
          </span>
          <ng-container *ngIf="f['userName'].dirty">
            <span 
            *ngIf=" f['userName'].hasError('noSpaceBar') "
            class="text-danger">
             {{f['userName'].errors?.['noSpaceBar']}}
            </span>
            <span 
          *ngIf=" f['userName'].hasError('pattern') "
          class="text-danger">
          Invalid Username 
          </span>
            <span 
          *ngIf=" f['userName'].hasError('minlength')"
          class="text-danger">
            The minimum length should be
            {{f['userName'].errors?.['minlength'].requiredLength}} and the actual length should be
            {{f['userName'].errors?.['minlength'].actualLength}} 
          </span>
          <span 
          *ngIf=" f['userName'].hasError('maxlength')"
          class="text-danger">
          The maximum length should be
          {{f['userName'].errors?.['maxlength'].requiredLength}} and the actual length should be
          {{f['userName'].errors?.['maxlength'].actualLength}}
          </span>
          </ng-container>
        </div>
        <div class="form-group">
          <label for="email"><b>Email : </b></label>
          <input type="text" class="form-control" id="email" formControlName="email">
          <span class="text-muted"
          *ngIf="f['email'].pending">
              Checking Availability....
          </span>
          <span class="text-danger"
          *ngIf="f['email'].hasError('emailExistErr')">
            {{f['email'].errors?.['emailExistErr']}}
          </span>
          <strong class="text-success" *ngIf="f['email'].valid">
          {{f['email'].value}} is available
          </strong>
          <span 
          *ngIf="f['email'].touched && f['email'].hasError('required') "
          class="text-danger">
            Email is required field
          </span>
          <span 
          *ngIf="f['email'].dirty && f['email'].hasError('pattern') "
          class="text-danger">
           Please enter valid email id-({{'jhon@gmail.com'}})
          </span>
        </div>
        <div class="form-group">
          <label for="empId"><b>Emp Id : </b></label>
          <input type="text" class="form-control" id="empId" formControlName="empId">
          <span class="text-danger"
          *ngIf="f['empId'].dirty && f['empId'].hasError('inValidEmpId') "
          >
          {{f['empId'].errors?.['inValidEmpId']}}
        </span>
        </div>

   
        <div class="form-group">
          <label for="gender"> <b> Gender : </b> </label>
          <label [for]="gender" *ngFor="let gender of genderArr" class="form-control">
            <input type="radio" [value]="gender" [id]="gender" formControlName="gender" >
            {{gender}}
          </label>
        </div>
        <div formArrayName="skills">
          <div class="row" *ngFor="let skill of skillsArr.controls; let i =index ">
            <div class="col-10">
              <div class="form-group">
                <label for="skills"> <b>skills : </b>
                </label>
                <input [formControlName]="i" type="text" class="form-control">
              </div>
            </div>
            <div class="col-2" *ngIf="i > 0">
              <button (click)="onRemoveSkill(i)" type="button" class="btn btn-sm btn-danger">Remove Skill</button>
            </div>
          </div>
          <button *ngIf="skillsArr.length <5 "
          (click)="onAddSkill()" 
          type="button" 
          class="btn btn-sm btn-info">Add Skill</button>
          <strong class="text-danger" *ngIf="skillsArr.length >=5">
            You can add max 5 skills only

          </strong>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-6">
            <h5>Current Address</h5>
            <div formGroupName="currentAddress">
              <div class="form-group">
                <label for="country">Country</label>
                <select  id="country" name="country" class="form-control"formControlName="country">
                    <option [value]="contryInfo.Country" *ngFor="let contryInfo of countryArr">
                        {{contryInfo.Country}}
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label for="state">State</label>
                <input type="text" class="form-control" formControlName="state" id="state">
            </div>
            <div class="form-group">
                <label for="city">city</label>
                <input type="text" class="form-control" formControlName="city" id="city">
            </div>
            <div class="form-group">
                <label for="pinCode">Pin Code</label>
                <input type="text" class="form-control" formControlName="pincode" id="pinCode">
            </div>
            </div>
          </div>
          <div class="col-md-6">
            <h5>Permanent Address</h5>
            <div formGroupName="permanentAddress">
              <div class="form-group">
                <label for="country">Country</label>
                <select  id="country" name="country" class="form-control"formControlName="country">
                    <option [value]="contryInfo.Country" *ngFor="let contryInfo of countryArr">
                        {{contryInfo.Country}}
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label for="state">State</label>
                <input type="text" class="form-control" formControlName="state" id="state">
            </div>
            <div class="form-group">
                <label for="city">city</label>
                <input type="text" class="form-control" formControlName="city" id="city">
            </div>
            <div class="form-group">
                <label for="pinCode">Pin Code</label>
                <input type="text" class="form-control" formControlName="pincode" id="pinCode">
            </div>
            </div>
          </div>
          <div class="col-md-12">
            <label for="">
              <input type="checkbox" name="" id="isAddSame" formControlName="isAddSame">
              Permanent and Current address are same
            </label>
          </div>
        </div>
        <hr>
        <div class="form-group">
          <label for="password"><b>Password : </b></label>
          <input type="password" value="" class="form-control"  formControlName="password">
          <strong class="text-danger"
          *ngIf="f['password'].touched && f['password'].hasError('required')">
              Password is required field
          </strong>
          <strong class="text-danger"
          *ngIf="f['password'].dirty && f['password'].hasError('pattern')">
              "Invalid password,minlength should be aleast 8 characters, it should contain 
               one uppercase,one lowercase,and one digit/special symbol"
          </strong>
      </div>
      <div class="form-group">
          <label for="confirmPassword"><b>Confirm Password : </b></label>
          <input type="password" value="" class="form-control"  formControlName="confirmPassword">
          <strong class="text-danger"
          *ngIf="(f['password'].value !== f['confirmPassword'].value) && f['confirmPassword'].dirty">
              "Password and confirm password must be same"
          </strong>
      </div> 
        <button class="btn btn-sm btn-block btn-primary">Sign Up</button>
      </form>
    </div>
    <!-- <div class="col-md-4">
      {{signUpForm.value |json}}
    </div> -->
  </div>
</div>